NEXT_PUBLIC_CHAIN=hardhat
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
NEXT_PUBLIC_USE_LOCAL_WALLET=true
NEXT_PUBLIC_LOCAL_WALLET_ADDRESS=
NEXT_PUBLIC_MARKETPLACE_ADDRESS=
NEXT_PUBLIC_ENERGY_TOKEN_ADDRESS=
NEXT_PUBLIC_MARKETPLACE_API_URL=http://localhost:3001
