DEV_RPC_URL=http://127.0.0.1:8545
DEV_BACKEND_URL=http://localhost:3001
DEV_FRONTEND_URL=http://localhost:3000
DEV_BACKEND_PORT=3001
DEV_FRONTEND_PORT=3000
DEV_CHAIN_ID=31337
DEV_LOCAL_WALLET_ADDRESS=
DEV_OWNER_PRIVATE_KEY=
