.env
.env.local
.env.*.local
.env*
!**/.env.example
node_modules/
dist/
build/
.next/
artifacts/
cache/
.vscode/settings.json
.DS_Store
*.log
*.tsbuildinfo
venv/
.hardhat-waffle
smart-contracts/ignition/deployments/
package-lock.json